@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:'Poppins',sans-serif;
    background:linear-gradient(135deg, #f7ddeb,#d2d6db,#b9e3e5 );
    min-height:100vh;
    color:#1e293b;
    overflow-x:hidden;
}
/*navbar */
.custom-navbar{
    background: rgba(255, 255, 255, 0.637);/*transparency*/
    backdrop-filter:blur(18px);         /*blur effect*/
    border-bottom: 1px solid rgba(255,255,255,0.5);/*subtle border*/
    position:sticky;
    top:0;
    z-index:1000;
}
.logo{
    color:#7c3aed !important;
    font-size:30px;
    font-weight:700;
}
.logo i{
    color:#ec4899;
}
/* hero section */
.hero-section{
    background:
    rgba(255,255,255,0.65);
    border: 1px solid rgba(255,255,255,0.7);
    border-radius:35px;
    padding:60px 50px;
    backdrop-filter:blur(20px);
    position:relative;
    overflow:hidden;
    box-shadow: 0 10px 35px rgba(0,0,0,0.08);
    margin-bottom:40px;
}
.hero-section::before{
    content:"";
    width:260px;
    height:260px;
    background:#c084fc;
    position:absolute;
    top:-120px;
    right:-120px;
    border-radius:50%;
    opacity:0.18;
    filter:blur(90px);
}
.hero-section h1{
    font-size:58px;
    font-weight:800;
    color:#4c1d95;
    margin-bottom:12px;
    background:linear-gradient(to right,#7c3aed,#ec5ba4);
    -webkit-background-clip :text;
    -webkit-text-fill-color:transparent;
}
.hero-section p{
    color:#64748b;
    font-size:18px;
}
.report-btn,
.add-btn{
    border:none;
    border-radius:18px;
    padding:15px 22px;
    font-weight:600;
    transition:0.3s;
}
.report-btn{
    background:
    linear-gradient(
        to right,
        #8b5cf6,
        #ec4899
    );
    color:white;
}
.add-btn{
    background:
    linear-gradient(
        to right,
        #6366f1,
        #8b5cf6
    );
    color:white;
}
.report-btn:hover,
.add-btn:hover{
    transform:translateY(-3px);
    color:white;
    box-shadow:
    0 10px 20px rgba(139,92,246,0.25);
}
/* input */
.custom-input{
    background:
    rgba(255,255,255,0.7) !important;
    border:
    1px solid rgba(203,213,225,0.7) !important;
    color:#1e293b !important;
    height:58px;
    border-radius:18px !important;
    padding-left:18px;
}
.custom-input::placeholder{
    color:#94a3b8;
}
.custom-input:focus{
    box-shadow:none !important;
    border:
    1px solid #8b5cf6 !important;
    background:white !important;
}
/*summary card */
.summary-card{
    background:
    rgba(255,255,255,0.72);
    border:
    1px solid rgba(255,255,255,0.7);
    border-radius:30px;
    padding:28px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    transition:0.3s;
    backdrop-filter:blur(20px);
    box-shadow:
    0 10px 25px rgba(0,0,0,0.06);
}
.summary-card:hover{
    transform:translateY(-5px);
}
.summary-card p{
    color:#64748b;
    margin-bottom:8px;
    font-size:15px;
}
.summary-card h2{
    font-size:38px;
    font-weight:700;
    color:#1e293b;
}
/*icon box*/
.summary-icon,
.report-icon{
    width:72px;
    height:72px;
    min-width:72px;
    border-radius:22px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-shrink:0;
    font-size:28px;
}
/* Income Icon */
.income-icon,
.income-report-icon{
    background:
    rgba(34,197,94,0.15);
    color:#22c55e;
}
/* Expense Icon */
.expense-icon,
.expense-report-icon{
    background:
    rgba(239,68,68,0.15);
    color:#ef4444;
}
/* Balance Icon */
.balance-icon,
.balance-report-icon{
    background:
    rgba(99,102,241,0.15);
    color:#6366f1;
}
/*transaction card*/
.transaction{
    background:rgba(255,255,255,0.75);
    border:1px solid rgba(255,255,255,0.7);
    border-radius:25px;
    padding:22px;
    margin-bottom:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    transition:0.3s;
    box-shadow:0 10px 20px rgba(0,0,0,0.05);
}
.transaction:hover{
    transform:translateY(-4px);
}
.transaction.income{
    border-left:6px solid #22c55e;
}
.transaction.expense{
    border-left:6px solid #ef4444;
}
.transaction h4{
    margin-bottom:5px;
    font-size:20px;
    font-weight:600;
}
.transaction p{
    color:#64748b;
}
.transaction-info{
    flex:1;
}

.middle-info{
    display:flex;
    justify-content:center;
    gap:200px;
    margin-top:8px;
}

.amount-text{
    font-size:20px;
    font-weight:700;
    color:#64748b;
}

.date-text{
    color:#64748b;
}
/* action button */
.action-btns{
    display:flex;
    gap:12px;
}
.edit-btn,
.delete-btn{
    border:none;
    padding:12px 18px;
    border-radius:14px;
    color:white;
    font-weight:600;
    transition:0.3s;
}
.edit-btn{
    background:
    linear-gradient(
        to right,
        #6366f1,
        #8b5cf6
    );
}
.delete-btn{
    background:
    linear-gradient(
        to right,
        #ef4444,
        #f97316
    );
}
.edit-btn:hover,
.delete-btn:hover{
    transform:translateY(-2px);
}
/* report*/
.report-body{
    background:
    linear-gradient(
        135deg,
        #fdf2f8,
        #eff6ff,
        #ecfeff
    );
    min-height:100vh;
}
/* report hero */
.report-hero{
    background:
    rgba(255,255,255,0.68);
    border:
    1px solid rgba(255,255,255,0.7);
    backdrop-filter:blur(20px);
    border-radius:35px;
    padding:55px;
    box-shadow:
    0 10px 35px rgba(0,0,0,0.08);
    position:relative;
    overflow:hidden;
}
.report-hero::before{
    content:"";
    width:280px;
    height:280px;
    background:#c084fc;
    position:absolute;
    top:-120px;
    right:-120px;
    border-radius:50%;
    opacity:0.18;
    filter:blur(80px);
}
.report-hero h1{
    font-size:56px;
    font-weight:800;
    color:#4c1d95;
    margin-bottom:12px;
}
.report-hero p{
    color:#64748b;
    font-size:18px;
}
 /*back*/
.back-btn{
    text-decoration:none;
    background:
    linear-gradient(
        to right,
        #8b5cf6,
        #ec4899
    );
    color:white;
    padding:14px 24px;
    border-radius:18px;
    font-weight:600;
    transition:0.3s;
    display:flex;
    align-items:center;
    gap:10px;
    box-shadow:
    0 10px 20px rgba(139,92,246,0.25);
}
.back-btn:hover{
    transform:translateY(-3px);
    color:white;
}
/* report summary card*/
.report-summary{
    background:
    rgba(255,255,255,0.72);
    border:
    1px solid rgba(255,255,255,0.75);
    backdrop-filter:blur(20px);
    border-radius:28px;
    padding:30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    transition:0.3s;
    box-shadow:
    0 10px 25px rgba(0,0,0,0.06);
}
.report-summary:hover{
    transform:translateY(-6px);
}
.report-summary p{
    color:#64748b;
    margin-bottom:10px;
}
.report-summary h2{
    font-size:34px;
    font-weight:700;
}
.income-report{
    border-left:
    6px solid #22c55e;
}
.expense-report{
    border-left:
    6px solid #ef4444;
}
.balance-report{
    border-left:
    6px solid #6366f1;
}
/* report tb card */
.report-table-card{
    background:
    rgba(255,255,255,0.75);
    border:
    1px solid rgba(255,255,255,0.75);
    border-radius:30px;
    padding:30px;
    backdrop-filter:blur(20px);
    box-shadow:
    0 10px 30px rgba(0,0,0,0.06);
}
.report-table-card h3{
    color:#7c3aed;
    font-weight:700;
}
/* badges*/
.report-badge{
    background:
    linear-gradient(
        to right,
        #8b5cf6,
        #ec4899
    );
    color:white;
    padding:10px 16px;
    border-radius:14px;
    font-size:14px;
    font-weight:600;
}
/* custom tb */
.custom-table{
    width:100%;
    border-collapse:collapse;
}
.custom-table thead{
    background:
    linear-gradient(
        to right,
        rgba(139,92,246,0.12),
        rgba(236,72,153,0.12)
    );
}
.custom-table th{
    color:#7c3aed;
    padding:18px;
    font-weight:700;
    text-align:left;
}
.custom-table td{
    padding:18px;
    color:#334155;
}
.custom-table tbody tr{
    transition:0.3s;
    border-bottom:
    1px solid rgba(203,213,225,0.4);
}
.custom-table tbody tr:hover{
    background:
    rgba(139,92,246,0.05);
}
/* type badges */
.type-badge{
    padding:8px 14px;
    border-radius:12px;
    color:white;
    font-size:13px;
    font-weight:600;
    display:inline-block;
}
.type-income{
    background:
    linear-gradient(
        to right,
        #22c55e,
        #16a34a
    );
}
.type-expense{
    background:
    linear-gradient(
        to right,
        #ef4444,
        #f97316
    );
}
/* ph */
@media(max-width:768px){
    .hero-section{
        padding:35px 25px;
    }
    .hero-section h1{
        font-size:40px;
    }
    .report-hero{
        padding:35px 25px;
    }
    .report-hero h1{
        font-size:40px;
    }
    .summary-card,
    .report-summary{
        padding:24px;
    }
    .summary-card h2,
    .report-summary h2{
        font-size:28px;
    }
    .summary-icon,
    .report-icon{
        width:60px;
        height:60px;
        min-width:60px;
        font-size:24px;
    }
    .transaction{
        flex-direction:column;
        align-items:flex-start;
        gap:18px;
    }
    .action-btns{
        width:100%;
        flex-direction:column;
    }
    .edit-btn,
    .delete-btn{
        width:100%;
    }
    .back-btn{
        width:100%;
        justify-content:center;
    }
    .custom-table{
        min-width:650px;
    }
}